@media screen and (max-width: 1024px) {
    .cabecalho {
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
        padding: 0px;
        margin: 0;
        padding: 0;
    }

    .cabecalho-container {
        display: flex;
        justify-content: center;
        width: 100vw;
        margin: 0rem;
        padding: 0rem;
    }

    .cabecalho-menu {
        width: 100vw;
        height: auto;
        margin: 0rem;
        align-self: flex-start;
        background-color: var(--cinza-foto);
       
    }

    .menu-lista {
        justify-content: right;
        justify-items: center;
        margin: 0px 0.2rem 0.5rem;
        padding-top: 2rem;
    }

    .menu-link {
        display: inline;
        padding: 0rem;
        letter-spacing: 0.01rem;
    }

    .container-titulo {
        display: flex;
        width: auto;
        height: 110vh;
        background-color: #f6f6f6;
        flex-direction: column;
        padding: 0;
        margin: 7rem 0rem;
        box-sizing: border-box;
        position: absolute;
    }

    .separador{
        display: none;
    }

    .titulo {
        width: 100%;
        text-align: center;
        font-size: 3.5rem;
        padding: 0;
        line-height: 4.5rem;
        box-sizing: border-box;
    }

    .titulo-descricao {
        flex-wrap: wrap;
        box-sizing: border-box;
        font-size: 1rem;
        width: 21.875rem;
        height: 100vh;
        text-align: center;
        position: relative;
    
    }

    .botao-download {
        display: flex;
        width: 18.75rem;
        height: 5.25rem;
        font-size: 1.3rem;
        line-height: 0rem;
        margin: 13.37rem auto 0 auto;
        padding: 0px;
        position: inherit;
    }

    .secao_experiencia {
        width: 17.75rem;
        margin-top: 2.25rem;
        display: flex;

    }

    .secao_experiencia h2{
        font-size: 2.8rem;
        line-height: 7.5rem;
        color: var(--cinza_titulo);
        font-weight: 700;
    }

    .nome {
        font-size: 1.5rem;
        
    }

    .periodo {
        font-size: 0.9 rem;
        line-height: 1.9;
        white-space: nowrap;

    }

    .empresa {
        margin-top: 0rem;
    }

    
    .desc_text {
        font-size: 0.9rem;
        margin-top: 1rem;
        margin-bottom: 2.25rem;
        margin-left: 1rem;
        
    }

    .linguagem {
    display: flex;

}
.ling {
    font-size: .6rem;
    padding: 0.4rem 0.5rem;
    margin: 0.2rem 1rem 0 0;
    background: var(--cinza-footer);
    border-radius:1rem;
   

}

    .projetos {
        display: flex;
        width: 17.75rem;
        margin-top: 3rem;
        margin-bottom: 0rem;
    }

    .projetos h1 {
        font-size: 2.8rem;
        line-height: 7.5rem;
    }

    .projetos h2 {
        font-size: 1.9rem;
    }

    .projeto-um {
        display: flex;
        flex-direction: column;
        width: 18.75rem; 
        align-items: center;
        margin-top: 1rem;
        padding: 0;
    }

    .imagem-container {
        width: 18.75rem;
        box-sizing: border-box;
    }

    .imagem-projetos {
        max-width: 18.5rem;
        height: 15.87rem;
    }

    .descricao-um {
        flex-wrap: wrap;
        align-items: center;
        width: 17.75rem; 
        height: auto;
        margin: 0rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: 0.02rem;
    }

    .projeto-dois {
        display: flex;
        flex-direction: column-reverse;
        width: 17.75rem;
        align-items: center;
        margin-top: 5rem;
    }

    .descicao-titulo {
        text-align: center;
    }

    .descricao-dois{
        text-align: left;
        align-items: center;
        width: 17.75rem;
        height: auto;
        margin: 0rem;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.02rem;
        line-height: 2rem;
    }

    .projeto-tres {
        display: flex;
        flex-direction: column;
        width: 17.75rem;
        align-items: center;
        margin-top: 5rem;
    }


    .sobre{
        width: 20.75rem;
        margin-top: 3rem;
    }

    .sobre h1 {
        margin-left: 1.125rem;
        font-size: 2.8rem;
        line-height: 7.5rem;
        margin-bottom: 0rem;
    }

    .sobre-descricao{
        width: 17.75rem;
       
        font-size: 1rem;
        
        text-align: center;
    }

    .sobre img {
        width: 1rem;
        height: 10rem;
        display: none;
    }

    .meus-contatos {
        position: inherit;
        margin-top: 3.125rem;
        width: 7.5rem;
        height: 13rem;
        white-space: nowrap;
    
    }

    .descricao-contatos{
        text-align: center;
        font-size: 1rem;
       margin-top: 25rem;
        width: 17.75rem;


    } 

    .texto2 {
         width: 17.75rem;
       
        font-size: 1rem;
        
        text-align: center;
        margin-top: 10rem;
    }  

    footer {
        height: 8rem;
        align-items: center;
        text-align: center;
    }

}

